//variables
$aboutpadding: 5%;
$titlecolor: white;

//mixins
@mixin titlepadding ($size) {
    padding-top: $size;
    padding-bottom: $size;
}
@mixin responsivepadding ($size){
    padding-left: $size;
    padding-right: $size;
}

body {
    width: 100%;
}

    .nav-wrapper {
        border-bottom: 3px solid #16a5c9;
    }

    .About {
        padding-bottom: 5%;
	    background: linear-gradient(-45deg, #0b1c29, #063844, #16a5c9, #04525c);
	    background-size: 400% 400%;
	    -webkit-animation: Gradient 15s ease infinite;
	    -moz-animation: Gradient 15s ease infinite;
	    animation: Gradient 15s ease infinite;

        @-webkit-keyframes Gradient {
            0% {
                background-position: 0% 50%
            }
            50% {
                background-position: 100% 50%
            }
            100% {
                background-position: 0% 50%
            }
        }

        @-moz-keyframes Gradient {
            0% {
                background-position: 0% 50%
            }
            50% {
                background-position: 100% 50%
            }
            100% {
                background-position: 0% 50%
            }
        }

        @keyframes Gradient {
            0% {
                background-position: 0% 50%
            }
            50% {
                background-position: 100% 50%
            }
            100% {
                background-position: 0% 50%
            }
        }
    }

        .About__title {
            text-align: center;
            color: $titlecolor;
            margin-top: 0;
            margin-bottom: 0;
            @include titlepadding(4%);
        }

        .About__central {
            display: flex;
            flex-direction: row;
        }

            .card-content {
                color: black;
            }

                .About__resume {
                    display: flex;
                    width: 50%;
                    flex-direction: column;
                    padding-left: $aboutpadding;
                    align-content: center;
                }

                .collapsible-header {
                    color: black;
                }
                        .row {
                            flex-direction: column;
                        }

                        .waves-effect {
                            width: 65%;
                        }

                        .modal { width: 50% !important ; height: 100% !important ; }
                        .cv {
                            width: 100%;
                        }

            .About__skills {
                width: 50%;
                padding-right: $aboutpadding;
            }

                .Skills__coding {
                    display: flex;
                    flex-direction: column;
                }

                    .Skills__coding__logo {
                        width: 30%;
                        height: auto;
                        margin-left: 35%;
                        margin-top: 0,5%;
                    }

                    .btn-small {
                        margin-left: 17%;
                    }
                    
                    .Skills__prog {
                        display: flex;
                        flex-direction: row;
                        margin-top: 5%;
                        margin-left: 17%;
                    }

                    .Skills__prog__logo {
                        width: 80%;
                        height: 80%;
                    }

    .Portfolio {
        background-color: #04525c;
        display: grid;
    }

            .Portfolio__title {
                @extend.About__title;
            }

    .Contact {
        background-color: rgb(36, 41, 52);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

            .Contact__title {
                @extend.About__title;
            }
    
            input[type=text], select, textarea {
                width: 100%;
                padding: 12px;
                border: 1px solid #ccc;
                border-radius: 4px;
                resize: vertical;
                color: white;
            }
            
            input[type=submit] {
                background-color: rgb(253, 253, 253);
                color: rgb(30, 36, 44);
                padding: 12px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                float: right;
            }
            
            input[type=submit]:hover {
                background-color: #ffffff;
            }
            
            .container {
                border-radius: 5px;
                background-color: rgb(30, 36, 44);
                padding: 20px;
                box-sizing: border-box;
                margin-bottom: 3%;
            }
            
                .col-25 {
                    float: left;
                    width: 25%;
                    margin-top: 6px;
                }
                
                .col-75 {
                    float: left;
                    width: 75%;
                    margin-top: 6px;
                }
            
                /* Clear floats after the columns */
                .row:after {
                    content: "";
                    display: table;
                    clear: both;
                }
            
                /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
                @media screen and (max-width: 600px) {
                    .col-25, .col-75, input[type=submit] {
                        width: 100%;
                        margin-top: 0;
                    }
                }

            .socialnetworks {
                padding: 3%;
                padding-left: 15%;
                padding-right: 15%;
                background-image: url("outro.jpg");
                background-size: cover;
                margin-top: 1%;
                margin-bottom: 1%;
            } 
    
    @media screen and (max-width: 375px)
{
    .About__central {
        display: flex;
        flex-direction: column;
    }

    .About__resume {
        width: 100%;
        @include responsivepadding(1%);
    }

    .waves-effect {
        width: 100%;
    }

    .About__skills {
        width: 100%;
        padding-right: 1%;
        padding-left: 1%;
    }

    .btn-small {
        margin-left: 0;
    }
}
    
    

            


            

                
    
    
    

